@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

button,input {
    border:none;
    outline: none;
    background: none;
    font-family:Montserrat;
}

body {
    font-family:Montserrat;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #161616 ;
    color:white;
}

.nonvisible {
    display:none;
}


.loader {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 7px solid #161616;
    border-top: 7px solid #d49000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.containerfc{
    background-color: #161616; 
    width: 100%;
    height: 100vh;
    position: relative;
}

.blurfc {
    position: absolute;
    top: 39px;
    background-color: #ffc843;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: calc(100vh - 39px);
}


.mainspacefc{
    background-color: #1f1f1f;
    width: 100%;
    height: calc(100vh - 41px);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    position: absolute;
    top: 2px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.popupfc{
    background-color: #ffc843;
    width: 70%;
    border-radius: 10px;
    padding: 15px;
    color:#161616;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 20%; 
}


.popupfc__btn {
    background-color: #d49000;
    border: 2px solid #161616;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff; /* Цвет текста */
    font-weight: bold;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.popupfc__btn:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.mainmenubtn {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0; 
    padding-bottom: 10px; 
   
}


.mainmenuitemactive {
    background-color: #ffc843;
    border-radius: 5px;
    padding: 5px;
    text-align:center;
    color:#161616;
    min-width: 100px;
    border:1px solid #161616;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.mainmenuitemnotactive {
    background-color: #ffc843;
    opacity: 30%;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
    color:#161616;
    min-width: 100px;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.mainmenuitemnotactive:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    min-width: 100px;
}

.mainmenubtn__img{
    width: 30px;
    height: 30px;
}

.mainmenubtn__text {
    font-weight: bold;
}



/* .mainspacegame{
    background-color: #1f1f1f;
    width: 100%;
    height: calc(100vh - 41px);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    position: absolute;
    top: 2px;
    display: flex;
    justify-content: center;  
    align-items: center; 
} */

.game__score{
    /* width: 70%; */
    /* text-align: center; */
    position: absolute;
    top: 10%; 
    display: flex;
    justify-content: center;  
    align-items: center; 
    font-size: 25px;
    font-weight: bold;
    gap:20px
    /* margin-bottom: 20px; */
   
}

.game__energy{
    /* width: 70%; */
    font-size: 16px;
    /* font-weight: bold; */
    text-align: center;
    position: absolute;
    top: 17%; 
}


.game__clickelement{
    /* width: 100%; */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 55%; 
}


@media (max-width: 249px) {
    .wolfimg {
        width: 200px; 
        height: auto;
    }
}

@media (min-width: 250px) and (max-width: 300px) {
    .wolfimg {
        width: 200px; 
        height: auto;
    }
}

@media (min-width: 301px) and (max-width: 380px) {
    .wolfimg {
        width: 300px; 
        height: auto;
    }
}

@media (min-width: 381px) {
    .wolfimg {
        width: 400px; 
        height: auto;
    }
}

.game__score__moneta {
    width: 25px;
    height: 25px;
    /* margin-right: 10px; */
    display: block;
}


.game__energy__battery {
    width: auto;
    height: 10px; 
    margin-right: 10px;
}

.game__energy__energytext{
    margin-right: 5px; 
}


.friend__space {
    position: absolute;
    top: 10%; 
}


.friend__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    display:flex;
    gap: 10px;
}

.friend__subtitle {
    margin-bottom: 20px;
} 

.friend__info {
    display: flex;
    background-color: #848484;
    padding: 10px;
    border-radius: 5px;
    color:#161616;
    margin-bottom: 40px;
    align-items: center; 
    gap:10px;
}


.friend__info__left_img {
    width:35px;
    height:35px;
}


.friend__btnaddfriend {
    display: flex; 
    align-items: center; 
    gap: 8px; 
    background-color: #ffc843; 
    border: 2px solid #FFF; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold;
    color: #1f1f1f; 
    cursor: pointer; 
    transition: all 0.3s ease;
    width: 100%;
    justify-content: center;
}

.friend__btnaddfriend:hover {
    background-color: #d49000;
}

.friend__btnaddfriend__icon {
    width: 25px;
    height: 25px;
    fill: none; 
    stroke: currentColor;
    stroke-width: 2;
}



.change__space {
    position: absolute;
    top: 10%; 
}


.change__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    gap:10px;
    align-items: center;
}

.change__subtitle {
    margin-bottom: 20px;
} 

.change__info {
    display: flex;
    background-color: #848484;
    padding: 10px;
    border-radius: 5px;
    color:#161616;
    margin-bottom: 40px;
    align-items: center; 
    gap:10px;
    
}


.change__info__left_img {
    width:35px;
    height:35px;
}


.change__btnchange {
    display: flex; 
    align-items: center; 
    gap: 8px; 
    background-color: #ffc843; 
    border: 2px solid #FFF; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold;
    color: #1f1f1f; 
    cursor: pointer; 
    transition: all 0.3s ease;
    width: 100%;
    justify-content: center;
}

.change__btnchange:hover {
    background-color: #d49000;
}

.change__btnchange__icon {
    width: 20px;
    height: 20px;
    fill: none; 
    stroke: currentColor;
    stroke-width: 2;
}


.change__underdevelop {
    display: flex;
    background-color: salmon;
    padding: 10px;
    border-radius: 5px;
    color:#161616;
    margin-bottom: 40px;
    align-items: center; 
    gap:10px;  
    margin-top: 110px;
}

.infoicon{
    width: 18px;
    background-color: #FFF;
    border-radius: 50%;
    }



/* всплыващее окно */

/* Стили для модального окна */
.modal {
    position: fixed;
    left: 0;
    bottom: -100%; /* Окно скрыто за экраном */
    width: 100%;
    height: 30%;
    background: #d49000;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: bottom 0.3s ease-in-out;
    color:black;
    z-index: 9999;
}

/* Содержимое модального окна */
.modal-content {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: relative;
    
}

/* Крестик (закрытие окна) */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: red;
}

/* Класс для показа окна */
.modal.show {
    bottom: 0;
}


.clickbtn{
    /* margin-top: 250px; */
    color:white;
    background-color: salmon;
    padding: 20px;
    border-radius: 10px;
}